<mat-card class="card">

    <mat-card-title>Product details</mat-card-title>

    <mat-card-content class="card-content">

        <p> <mat-icon>list</mat-icon> <strong>ID: </strong> {{ product.id }} </p>
        <p> <mat-icon>list</mat-icon> <strong>Name: </strong> {{ product.name }} </p>
        <p> <mat-icon>list</mat-icon> <strong>Stock: </strong> {{ product.stock }} </p>
        <p> <mat-icon>list</mat-icon> <strong>Price: </strong> {{ product.price}} </p>
        <p> <mat-icon>list</mat-icon> <strong>Active: </strong> {{ product.active }} </p>
        <p> <mat-icon>list</mat-icon> <strong>Date added: </strong> {{product.date_added | date:'yyyy/MM/dd' }} </p>
        <p> <mat-icon>list</mat-icon> <strong>Category: </strong> {{ product.category_id?.name}} </p>
        
    </mat-card-content>

    <mat-card-actions align="end">

        <button mat-raised-button type="button" (click)="editProduct()"><mat-icon>edit</mat-icon></button>
        <button mat-raised-button type="button" (click)="closeProduct()"><mat-icon>close</mat-icon></button>
        <button mat-raised-button color="warn" type="button" (click)="openDeleteDialog(product.id)"><mat-icon>delete</mat-icon></button>

    </mat-card-actions>

</mat-card>