<mat-card class="card">

    <mat-card-title>Product details</mat-card-title>

    <mat-card-content class="card-content">

        <p> <mat-icon>trending_flat</mat-icon> <strong>ID: </strong> {{ product.id }} </p>
        <p> <mat-icon>trending_flat</mat-icon> <strong>Name: </strong> {{ product.name }} </p>
        <p> <mat-icon>trending_flat</mat-icon> <strong>Stock: </strong> {{ product.stock }} </p>
        <p> <mat-icon>trending_flat</mat-icon> <strong>Price: </strong> {{ product.price}} </p>
        <p> <mat-icon>trending_flat</mat-icon> <strong>Active: </strong> {{ product.active }} </p>
        <p> <mat-icon>trending_flat</mat-icon> <strong>Date added: </strong> {{ product.date_added }} </p>
        <p> <mat-icon>trending_flat</mat-icon> <strong>Category: </strong> {{ product.category_id?.name}} </p>
        
    </mat-card-content>

</mat-card>