<mat-card class="card">
    <mat-card-title> Charts - Contacts </mat-card-title>
    <mat-card-content>
        <div class="chart-row">
            <div> 
                <p> <strong> Initial surname </strong></p>
                <ngx-charts-bar-vertical [view]="[400,300]" [results]="initialLetter" [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Initial of surname" yAxisLabel="Number of contacts">
                </ngx-charts-bar-vertical>
            </div>
            
            <div> <p> <strong> Length of name </strong></p></div>
        </div>
        <div class="chart-row">
            <div> <p> <strong> Extensions </strong></p></div>
            <div> <p> <strong> Prefix </strong></p></div>
        </div>
    </mat-card-content>
</mat-card>