table {
    margin: 20px 0px 0px 40px;
    width: calc(100% - 80px);
    border: 2px solid rgb(80, 22, 80);
    border-radius: 5px;
}

table th, table td { text-align: center; }

table th { 
    
    font-size: 14.5px; 
    font-weight: bold;
    background: rgb(77, 42, 77);
    color: #fff;
}

table td { font-size: 13.5px; }