table {
    margin: 50px auto;
    width: 1200px;
    border-radius: 5px;
    transform: scale(1); /* Escala normal */
    transition: transform 0.5s ease-in-out;
    border: 2px solid rgba(99, 2, 2, 0.911);
}

table:hover { transform: scale(1.02); }

table th, table td { 
    text-align: center; 
    font-family: 'Abel', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;

}

table th { 
    background: rgba(99, 2, 2, 0.911);
    color: white;
}