mat-card { 
    width: 25%;
    text-align: center;
    padding: 35px;
    margin: 75px auto;
    border: 2px solid rgb(80, 22, 80);
}

mat-card-title { margin-bottom: 30px; }

mat-card-content p {
    display: flex;
    margin: 15px 25px;
}

mat-card-content p mat-icon, mat-card-content p strong { margin-right: 10px; }