<mat-card class="card">

    <mat-card-title>Contact details</mat-card-title>

    <mat-card-content class="card-content">

        <p> <mat-icon>person</mat-icon> <strong>Name: </strong> {{ contact.name }} </p>
        <p> <mat-icon>person</mat-icon> <strong>Surname 1: </strong> {{ contact.surname1 }} </p>
        <p> <mat-icon>person</mat-icon> <strong>Surname 2: </strong> {{ contact.surname2}} </p>
        <p> <mat-icon>phone</mat-icon> <strong>Phone: </strong> {{ contact.phone }} </p>
        <p> <mat-icon>email</mat-icon> <strong>Email: </strong> {{ contact.email }} </p>

    </mat-card-content>

    <mat-card-actions align="end">

        <button mat-raised-button type="button" (click)="editContact()"><mat-icon>edit</mat-icon></button>
        <button mat-raised-button type="button" (click)="closeContact()"><mat-icon>close</mat-icon></button>
        <button mat-raised-button color="warn" type="button" (click)="openDeleteDialog(contact.id)"><mat-icon>delete</mat-icon></button>


    </mat-card-actions>

</mat-card>