<mat-card class="card">

    <mat-card-title>Contact details</mat-card-title>

    <mat-card-content class="card-content">

        <p> <mat-icon>person</mat-icon> <strong>Name: </strong> {{ contact.name }} </p>
        <p> <mat-icon>person</mat-icon> <strong>Surname 1: </strong> {{ contact.surname1 }} </p>
        <p> <mat-icon>person</mat-icon> <strong>Surname 2: </strong> {{ contact.surname2}} </p>
        <p> <mat-icon>phone</mat-icon> <strong>Phone: </strong> {{ contact.phone }} </p>
        <p> <mat-icon>email</mat-icon> <strong>Email: </strong> {{ contact.email }} </p>

    </mat-card-content>

</mat-card>s