<mat-card class="card">

    <mat-card-title>Edit product</mat-card-title>

    <mat-card-content class="card-content">

        <form (submit)="editProduct()">

            <mat-form-field appearance="outline">

                <mat-label>Name</mat-label>

                <input matInput type="text" name="name" [(ngModel)]="product.name" class="text-center"/>

            </mat-form-field>

            <mat-form-field>

                <mat-label>Category</mat-label>

                <mat-select name="category" [(ngModel)]="product.category_id.id">

                    <mat-option *ngFor="let category of categories" [value]="category.id"> {{ category.name }} </mat-option>
                    
                </mat-select>
                
            </mat-form-field>

            <mat-form-field appearance="outline">

                <mat-label>Stock</mat-label>

                <input matInput type="number" name="stock" [(ngModel)]="product.stock"/>

            </mat-form-field>

            <mat-form-field appearance="outline">

                <mat-label>Price</mat-label>

                <input matInput type="number" name="price" [(ngModel)]="product.price"/>

            </mat-form-field>
            
            <mat-form-field appearance="outline">

                <mat-label>Date added</mat-label>

                <input matInput type="date" name="date_added" [(ngModel)]="product.date_added"/>

            </mat-form-field>

            <mat-radio-group name="active" [(ngModel)]="product.active">

                <mat-radio-button value="true">Active</mat-radio-button>
                <mat-radio-button value="false">Not Active</mat-radio-button>
                
            </mat-radio-group>
            
            <div class="buttons">

                <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon></button>
                <button mat-raised-button type="button" (click)="cancelEdit()"><mat-icon>cancel</mat-icon></button>

            </div>

        </form>

    </mat-card-content>

</mat-card>