.card {  
    width: 25%;
    text-align: center;
    padding: 35px;
    margin: 75px auto;
    box-shadow: 0 0 6px 3px rgba(94, 41, 41, 0.911);
}
mat-card-title { margin: 30px; }

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

mat-radio-group {margin: 25px;}

input { text-align: center;}


mat-radio-button { margin-left: 20px;}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons button { margin-left: 4%; }

