<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abel&family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">

<body>

    <mat-toolbar>

        <a mat-button routerLink="/">Appmazing</a>
        <a mat-button routerLink="/contacts">Contacts</a>
        <a mat-button routerLink="/products">Products</a>
        
    </mat-toolbar>

    <router-outlet></router-outlet>

<!-- </body> -->