.card { 
    margin: 50px 35%; 
    box-shadow: 0 0 6px 3px rgba(68, 35, 67, 0.911);
    text-align: center;
}

mat-card-title { margin: 30px; }

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons button { margin-left: 4%; }